CYPRESS_BASE_URL=http://127.0.0.1:3100
CYPRESS_COMMAND_TIMEOUT_MS=10000
CYPRESS_REQUEST_TIMEOUT_MS=10000
CYPRESS_RESPONSE_TIMEOUT_MS=30000
CYPRESS_PAGE_LOAD_TIMEOUT_MS=60000
# TEST_RUN_ID=optional-ci-correlation-id
